.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    /* margin-top: 3rem; */
    flex-wrap: wrap;
}

.social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.social a svg {
    color: #fff;
    font-size: 22px;
    z-index: 2;
    transition: transform 0.5s ease, color 0.3s ease;
}

.social a::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 1;
    transition: background 0.4s ease;
    border-radius: 50%;
}

.social a:nth-child(1):hover::before {
    background: #000;
}

/* Twitter/X */
.social a:nth-child(2):hover::before {
    background: #E1306C;
}

/* Instagram */
.social a:nth-child(3):hover::before {
    background: #0077b5;
}

/* LinkedIn */
.social a:nth-child(4):hover::before {
    background: #3b5999;
}

/* Facebook */
.social a:nth-child(5):hover::before {
    background: #25D366;
}

/* WhatsApp */
.social a:nth-child(6):hover::before {
    background: #ff0000;
}

/* YouTube */

.social a:hover svg {
    transform: rotateY(360deg) scale(1.1);
}

.social a:hover {
    border-color: transparent;
    transform: translateY(-4px);
}